body {
    font-family: Arial, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0f7fa; 
}

.dialog-box {
    text-align: center;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #333;
}

p {
    margin: 10px 0;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #5a40a9;
    border-radius: 5px;
    flex: 1; 
}

button {
    padding: 10px 20px;
    background-color: #717fff;
    color: #fcfcfc;
    border: 1px solid #0f12ce;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7876ba; 
}

#result, #attempts {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}
